<!DOCTYPE html>
<html>
<head>
  <title>Chattr</title>
  <link rel='stylesheet' href='chattr.css' type='text/css' media="screen" />
</head>
<body>
  <h1>Lets Chat...</h1>

  <ul id="chat"></ul>
  <form id="new_message" action="#" method="get" accept-charset="utf-8">
    <input type="text" name="message" id="message" value="" />
    <input type="submit" name="send" id="send" value="Send" />
  </form>

  <script src="jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://localhost:8000/faye.js" type="text/javascript" charset="utf-8"></script>
  <script src="chattr.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
